.wrapper{
    margin: 20px;
}
.wrapper h3{
    margin-bottom: 50px;
}
.chanel_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.video_continer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.video_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    width: 24%;
}
.video_element{
    margin: auto;
}
.video_preview {

}
.video_name{
    text-align: center;

}
.video_name_in_videos a{
    text-decoration: none;
}
.playlist_item{
    display: flex;
    flex-direction: column;
}
.playlist_continer{
    display: flex;
    flex-direction: column;
}
.video_continer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.video_item_in_playlist{
    width: 30%;
}
.video_name_in_playlist{
    width: 40%;
}
.playlist_name{
    margin: 15px;
}
.playlist_name span{
    font-weight: bold;
}
.video_name_in_videos{
    text-align: center;
    width: 50%;
}
.video_item_in_videos{
    margin-right: 0;
    margin-bottom: 40px;
}
.playlist_continer_player{
    align-items: center;
}
.video_player{
    width: 70%;	
}
.video_player .video_item{
    width: 100%;	
}
.video_player_name{
    margin: 20px 0;
}
.video_item_player{
    width: 30%;
}
.video_date a{
    text-align: center;	
}
.video_date {
    text-align: center;	
}
.flex_column_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.video_name_player{
    width: 65%;
}

.video_player_description{
    height:90px;
    display:block;
    overflow:hidden;
}
.video_player_frame{
    height: 450px;
}


/*ADAPTIVE ADAPTIVE ADAPTIVE ADAPTIVE ADAPTIVE ADAPTIVE ADAPTIVE ADAPTIVE */
@media screen and (min-width:0px) and (max-width:850px) { 

    .video_continer{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    .video_item{
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
    }
    .video_player{
        width: 100%;	
    }
    .video_preview {

    }
    .video_preview img {
        width: 100%;

    }
    .video_element{
        width: 50%;
    }
    h3{
        text-align: center;	
    }
    .playlist_name {
        text-align: center; 
    }
    .playlist_name span {
        font-size: 20px;
    }
    .ya-share2{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }
    .playlist_continer{
        width: 100%;
    }
    .flex_column_center{
        width: 85%;
    }
    .video_player{
        width: 100%;
    }
}
@media screen and (min-width:0px) and (max-width:400px) { 
    .video_player_frame{
        height: 250px;
    }
    .video_element{
        width: 80%;
    }
}

